.text-align-right {
  text-align: right;
}
/* .leaf-container__left-content {
  [config-id] {
    &:hover {
      box-shadow: 0 0 4px 4px #E4E7ED;
    }
  }
} */

.drag-over {
  background-color: #F2F6FC !important;
}

.hljs-name,
.hljs-keyword,
.hljs-selector-tag {
  font-weight: 900;
  font-size: 18px;
}

// 处理g2
.g2-size {
 display: inline-block;
}
